<div class="layout">
    <div class="sb-layout collapsed">
        <div class="sb con">
            <div class="sb-head pad">
                <h2 class="site-title">
                    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
                </h2>
                <button class="menu-button">
                    <svg viewBox="0 0 100 100" width="25" height="25">
                        <path d="M0 14 h100 M0 50 h100 M0 86 h100" stroke-width="8" stroke="currentColor" fill="currentColor"></path>
                    </svg>
                </button>
            </div>
            <nav class="sb-main pad">
                &nbsp;
            </nav>
            <script>
                var target = '{{ '/assets/nav.html' | relative_url  }}';
                fetch(target)
                    .then(function(response) {
                        return response.text();
                    })
                    .then(function(body) {
                        document.querySelector('nav.sb-main').innerHTML = body;
                        return;
                    })
                    .then (function() {
                        var nav_cat_item = document.querySelectorAll('nav.sb-main li.nav-cat-item');
                        var nav_post_items = document.querySelectorAll('nav.sb-main ul.nav-post-items');
                        var cur = document.location.href.match(/\/post\/[0-9a-zA-Z%_-]+/g);


                        if (cur) {
                            var all_posts = document.querySelectorAll('nav.sb-main li.nav-post-item');
                            for (var el of all_posts) {
                                var href = el.childNodes[0].getAttribute('href');
                                if (href === cur[0]) {
                                    el.classList.add('current');
                                    el.parentElement.classList.remove('hidden');
                                    for (var x of nav_cat_item) {
                                        if (x.getAttribute('cat') === el.getAttribute('cat')) {
                                            x.classList.add('current');
                                        }
                                    }
                                    break;
                                }
                            }
                        }

                        
                        function nav_cat_item_click_event(e) {
                            var target = e.currentTarget.getAttribute('cat');
                            for (var el of nav_post_items) {
                                if (el.getAttribute('cat') === target) {
                                    el.classList.remove('hidden');
                                } else {
                                    el.classList.add('hidden');
                                }
                            }
                        }
                        
                        for (var el of nav_cat_item) {
                            el.addEventListener('click', nav_cat_item_click_event);
                        }

                    });
            </script>
            <div class="sb-foot pad">
                <div class="msg">
                    {{ site.desc }}
                </div>
            </div>
        </div>
    </div>
    <div class="ct-layout">
        <div class="ct con">
            <header class="ct-head pad">
                <h1 class="page-title">
                    {{ page.title }}
                </h1>
                <div class="page-meta">
                    Last udpated: {{ page.updated }}
                </div>
            </header>
            <main class="ct-main pad">
                {{ content }}
            </main>
        </div>
    </div>
</div>
<script>
    var sb_layout = document.querySelector('.sb-layout');
    var btn = document.querySelector('button.menu-button');
    btn.addEventListener('click', function() {
        sb_layout.classList.toggle('collapsed');
    });
</script>