<div class="layout">
    <div class="layout-fixed">
        <header>
            <h2 class="site-title">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </h2>
            <button class="menubtn">
                <svg viewBox="0 0 100 100" width="25" height="25">
                    <path d="M0 14 h100 M0 50 h100 M0 86 h100" stroke-width="8" stroke="currentColor" fill="currentColor"></path>
                </svg>
            </button>
        </header>
    </div>
    <div class="layout-fluid">
        <nav class="hide">
            Now Loading....
        </nav>
        <script>
            'use strict';

            var target = "{{ '/assets/nav4.html' | relative_url  }}";
            fetch(target).then(function(response) {
                return response.text();
            }).then(function(body) {
                document.querySelector('nav').innerHTML = body;
                return;
            });
        </script>
        <main>
            <div class="content">
                {{ content }}
            </div>
            <div class="comments">
                Comments...
            </div>
        </main>
        <footer>
            <div class="msg">
                {{ site.desc }}
            </div>
        </footer>
    </div>
</div>
<script>
    'use strict';
    
    var nav = document.querySelector('nav');
    var main = document.querySelector('main');
    var footer = document.querySelector('footer');
    var menubtn = document.querySelector('.menubtn');

    menubtn.addEventListener('click', function() {
        nav.classList.toggle('hide');
        main.classList.toggle('hide');
        footer.classList.toggle('hide');
    });
</script>

<!--
<div class="sidebar">
    <div class="sb">
        <aside>
            <h2 class="site-title">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </h2>
        </aside>
        <nav>
            Now Loading...
        </nav>
        <script>
            var target = "{{ '/assets/nav3.html' | relative_url  }}";
            fetch(target)
                .then(function(response) {
                    return response.text();
                })
                .then(function(body) {
                    document.querySelector('nav').innerHTML = body;
                    return;
                })
                .then (function() {
                    var nav_sub_title = document.querySelectorAll('nav h3.nav-sub-title');
                    var nav_sub_items = document.querySelectorAll('nav ul.nav-sub-items');
                    var cur = document.location.href.match(/(https?:\/\/[a-zA-Z0-9.:]+)([a-zA-Z0-9\/%_.-]+)/);

                    if (cur) {
                        var nav_sub_item = document.querySelectorAll('nav li.nav-sub-item');
                        for (var el of nav_sub_item) {
                            var href = el.firstElementChild.getAttribute('href');
                            if (href === cur[2]) {
                                el.classList.add('current');
                                el.parentElement.classList.remove('hidden');
                            }
                        }
                    }

                    function nav_sub_title_click_event(e) {
                        var target = e.currentTarget.nextElementSibling;
                        target.classList.toggle('hidden');

                        // nav-sub-title 클릭하면 해당 ul 만 나타내기
                        // for (var el of nav_sub_items) {
                        //     if (el === target) {
                        //         el.classList.remove('hidden');
                        //     } else {
                        //         el.classList.add('hidden');
                        //     }
                        // }
                    }
                    
                    for (var el of nav_sub_title) {
                        el.addEventListener('click', nav_sub_title_click_event);
                    }
                });
        </script>
        <footer>
            <div class="msg">
                {{ site.desc }}
            </div>
        </footer>
    </div>
</div>
<div class="content">
    <div class="ct">
        <header>
            <h1>
                {{ page.title }}
            </h1>
            <div class="page-meta">
                Last Updated: {{ page.updated }}
            </div>
        </header>
        <main>
            {{ content }}
        </main>
    </div>
</div>
<div class="controls">
    <button class="menubtn">
        <svg viewBox="0 0 100 100" width="25" height="25">
            <path d="M0 14 h100 M0 50 h100 M0 86 h100" stroke-width="8" stroke="currentColor" fill="currentColor"></path>
        </svg>
    </button>
</div>
<script>
    var sidebar = document.querySelector('.sidebar');
    var menubtn = document.querySelector('.menubtn');

    menubtn.addEventListener('click', function() {
        sidebar.classList.toggle('show');
    });
</script>
-->
