<script>
  document.addEventListener('DOMContentLoaded', function() {
      'use strict';

      // button click
      var btn = document.querySelector('.sidebar .menu-button');
      var sidebar = document.querySelector('.sidebar');
      btn.addEventListener('click', function() {
          sidebar.classList.toggle('full-expand');
      });

      // set body height fit to window.innerHeight
      var layout = document.querySelector('.layout');

      function set_position() {
          layout.style.height = window.innerHeight + 'px';
      }
      set_position();
      window.addEventListener('resize', function() {
          set_position();
      });
  });
</script>
<div class="layout">
  <div class="sidebar">
      <div class="sb">
          <div class="sb-head">
              <div class="site-title"><a href="#">SITE TITLE</a></div>
              <div class="menu-button">
                  {% include button.html %}
              </div>
          </div>
          <div class="sb-nav">Navigation</div>
          <div class="sb-foot">
              <div class="msg">Footer</div>
          </div>
      </div>
  </div>
  <div class="content">
      <div class="ct">
          <div class="ct-desc">
            <div class="msg">본 사이트에 대한 간략한 설명이 들어가는 곳입니다.</div>
          </div>
          <div class="ct-main">
            {% include article.html %}
          </div>
        </div>
      </div>
  </div>
</div>