<div class="site-header">
    <div class="grid">
        <h2 class="site-title">
            <a href="#">{{ Site-Title }}</a>
        </h2>
        <svg class="menu-button" xmlns="http://www.w3.org/2000/svg" version="1.1" width="35" height="35" viewBox="0 0 40 40">
            <g stroke-width="5" stroke-linecap="round">
                <line x1="20" y1="5" x2="20" y2="35"></line>
                <line x1="5" y1="20" x2="35" y2="20"></line>
            </g>
        </svg>
    </div>
</div>
<div class="site-header-bg">
</div>
<div class="nav">
    <div class="grid">
        Now Loading...
    </div>
    <script>
        'use strict';

        var target = "{{ '/assets/nav4.html' | relative_url  }}";
        fetch(target).then(function(response) {
            return response.text();
        }).then(function(body) {
            document.querySelector('nav').innerHTML = body;
            return;
        }).then(function() {
            var menu_btn = document.querySelector('.menu-button');
            var nav = document.querySelector('.nav');

            menu_btn.addEventListener('click', function() {
                menu_btn.classList.toggle('clicked');
                nav.classList.toggle('opened');
            });
        });
    </script>
</div>
<div class="article">
    <div class="grid">
    </div>
</div>





<!--
<div class="sidebar">
    <div class="sb">
        <aside class="aside">
            <h2 class="site-title">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </h2>
            <button class="menu-btn">
                <svg viewBox="0 0 100 100" width="25" height="25">
                    <path d="M0 14 h100 M0 50 h100 M0 86 h100" stroke-width="8" stroke="currentColor" fill="currentColor"></path>
                </svg>
            </button>
        </aside>
        <nav class="nav">
            ...Now Loading
        </nav>
        <script>
            'use strict';

            var target = "{{ '/assets/nav4.html' | relative_url  }}";
            fetch(target).then(function(response) {
                return response.text();
            }).then(function(body) {
                document.querySelector('nav').innerHTML = body;
                return;
            }).then(function() {
                var menu_btn = document.querySelector('.menu-btn');
                var nav = document.querySelector('.nav');

                menu_btn.addEventListener('click', function() {
                    nav.classList.toggle('nav-hidden');
                });
            });
        </script>
    </div>
</div>
<div class="content">
    <div class="ct">
        <header class="header">
            <h1 class="page-title">
                {{ page.title }}
            </h1>
            <div class="page-meta">
                Last Updated: {{ page.updated }}, Tags: {{ page.tags | join: ", " }}
            </div>
        </header>
        <main class="main">
            <div class="article">
                {{ content }}
            </div>
        </main>
        <footer>
            <div class="page-footer">
                {{ site.desc }}
            </div>
        </footer>
    </div>
</div>


<div class="layout">
    <div class="layout-fixed">
        <header>
            <h2 class="site-title">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </h2>
            <button class="menu-btn">
                <svg viewBox="0 0 100 100" width="25" height="25">
                    <path d="M0 14 h100 M0 50 h100 M0 86 h100" stroke-width="8" stroke="currentColor" fill="currentColor"></path>
                </svg>
            </button>
        </header>
    </div>
    <div class="layout-fluid">
        <nav class="hide">
            Now Loading....
        </nav>
        <script>
            'use strict';

            var target = "{{ '/assets/nav4.html' | relative_url  }}";
            fetch(target).then(function(response) {
                return response.text();
            }).then(function(body) {
                document.querySelector('nav').innerHTML = body;
                return;
            }).then(function() {
                var cats = document.querySelectorAll('nav .cats-item');
                //var selected_post = document.querySelectorAll('nav .posts-item');
                var cur = document.location.href.match(/(https?:\/\/[a-zA-Z0-9.:]+)([a-zA-Z0-9\/%_.-]+)/);
                
                if (cur) {
                    var items = document.querySelectorAll('nav .posts-item');
                    for (var el of items) {
                        var href = el.firstElementChild.getAttribute('href');
                        if (href === cur[2]) {
                            el.classList.add('current');
                            el.parentElement.classList.remove('hide');
                        }
                    }
                }
                
                function cats_event(e) {
                    document.querySelectorAll('.posts-wrapper').forEach(x => {
                        if (x.getAttribute('cat') === e.currentTarget.getAttribute('cat')) {
                            x.classList.remove('hide');
                        } else {
                            x.classList.add('hide');
                        }
                    });
                }
                for (var el of cats) {
                    el.addEventListener('click', cats_event);
                }
            });
        </script>
        <main>
            <div class="content">
                <h1>
                {{ page.title }}
                </h1>
                <div class="page-meta">
                    Last Updated: {{ page.updated }}
                </div>
                {{ content }}
            </div>
            <div class="comments">
                Comments...
            </div>
        </main>
        <footer>
            <div class="msg">
                {{ site.desc }}
            </div>
        </footer>
    </div>
</div>
<script>
    'use strict';
    
    var nav = document.querySelector('nav');
    var main = document.querySelector('main');
    var footer = document.querySelector('footer');
    var menu_btn = document.querySelector('.menu-btn');

    menu_btn.addEventListener('click', function() {
        nav.classList.toggle('hide');
        main.classList.toggle('hide');
        footer.classList.toggle('hide');
    });
</script>
-->
