header {
  .ct-head {
    h1.page-title {
      margin: $mm 0 ($mm * 2) 0; word-break: break-word;
      font-size: $h1-size; font-weight: $bold;
    }
    .page-meta {
      margin: ($mm * -2) 0 ($mm * 2) 0;
      font-size: $small-size; color: lighten($base-color, 30%);
    }
  }
}
main {
  .ct-body{
    line-height: $mm;
    img {
      text-align: center; display: block;
      max-width: 100%; margin: 0 auto;
      & ~ em {
        display: block;
        margin: 0 $mm $mm $mm; font-size: $small-size; text-align: center; color: lighten($base-color, 30%); line-height: ($mm - 4px);
      }
    }
    h2 {
      margin: ($mm * 2) 0 $mm 0;
      &:before {
        content: "#"; display: inline-block; width: $mm;
      }
    }
    & > p {
      margin: $mm 0;
      &[class] {
        @include box;
      }
    }
    & > ul {
      @include box;
      li {
        margin-left: ($mm * 3 / 4);
        &:before {
          content:'\2022'; display: inline-block; margin-left: ($mm * -3 / 4); width: ($mm * 3 / 4);
        }
      }
    }
    pre {
      @include box;
      overflow: hidden;
      code {
        display: block; overflow-x: auto;
        margin: 0;
        font-size: $small-size; line-height: ($mm * 3 / 4);
        background-color: transparent;
      }
    }
    & > p, & > ul, pre {
      &[class]:after {
        content: attr(class); position: absolute; top: 0; left: 0;
        font-size: ($mm / 2); padding: 0 10px; line-height: ($mm * 2 / 3); color: #ffffff; background-color: darken($box-bg-color, 50%);
        display: inline-block; width: 80px; text-align: center;
      }
    }
    b, strong {
      font-weight: $bold; color: $b-color; border-bottom: 2px solid $b-color;
    }
    a, a:link, a:visited, a:hover, a:active {
      font-weight: $bold; color: $a-color; border-bottom: 2px solid $a-color;
    }
  }
}
