---
---

<div class="nav-wrapper">
    <div class="nav-cat">
        <div class="nav-cat-title">
            <h2>[ CATEGORY ]</h2>
        </div>
        <ul class="nav-cat-items">
            {% for cat in site.cats %}
                <li class="nav-cat-item" cat="{{ cat }}">{{ cat }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="nav-post">
        <div class="nav-post-title">
            <h2>[ POST ]</h2>
        </div>
        {% for cat in site.cats %}
            {% assign posts = site.categories[cat] | reverse %}
            <ul class="nav-post-items hidden" cat="{{ cat }}">
                {% for post in posts %}
                    <li class="nav-post-item" cat="{{ cat }}"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
