---
---

<ul class="nav-tags">
    {%- for cat in site.cats -%}
    <li cat="{{ cat.id }}">
        {{- cat.title -}}
    </li>
    {% endfor %}
</ul>
<div class="nav-posts">
    {%- for cat in site.cats -%}
    <ul cat="{{ cat.id }}">
        {% assign items = site.tags[cat.id] %}
        {% if cat.order == "asc" %}
            {% assign items = items | reverse %}
        {% endif %}
        {% if cat.order == "title" %}
            {% assign items = items | sort: 'title' %}
        {% endif %}
        {%- for post in items %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a>&nbsp;&nbsp;<span class="updated">Last updated:&nbsp;{{ post.updated }}</span>
        </li> 
        {% endfor %}
    </ul>
    {% endfor %}
</div>
