---
---

$color: #111;
$a-color: #00f;
$b-color: #f00;
$c-color: #999;
$body-bg-color: #eee;
$layout-bg-color: #fff;

// global
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Hack", "NanumSquareRound", monospace;
    font-size: 16px;
    line-height: 1.4;
    color: #{$color};
    background-color: #{$body-bg-color};
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #{$a-color};
    font-weight: 800;
}
b, strong {
    color: #{$b-color};
    font-weight: 800;
    border-bottom: 1px dotted;
}
h1, h2, h3, h4, h5, h6, div, p, pre, ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
img, svg {
    vertical-align: bottom;
}

// common classes
.updated, .tags {
    font-size: 0.8rem;
    color: #{$c-color};
    display: inline-block;
}
.updated {
    &:before {
        content: "\f1da";
        font: var(--fa-font-solid);
        transform: scale(-1, 1);
        display: inline-block;
        width: 1rem;
        text-align: right;
    }
}
.tags {
    &:before {
        content: "\f02b";
        font: var(--fa-font-solid);
        display: inline-block;
        width: 1rem;
    }
    span {
        color: #{$layout-bg-color};
        background-color: #{$c-color};
    }
}
.inline {
    display: inline-block;
}

// layout
.layout {
    max-width: 900px;
    margin: 0 auto;
    padding: 0.1px 0;
    background-color: #{$layout-bg-color};
    min-height: 100%;
    .area-header, .area-nav, .area-main, .area-footer {
        margin: 3rem 0;
        padding: 0 10px;
    }
    .area-header {
        margin-top: 1.5rem;
        .site-title {
            font-size: 1.5rem;
            display: inline-block;
            &:before {
                content: "\f044";
                font: var(--fa-font-solid);
                display: inline-block;
                width: 2rem;
                color: #{$a-color};
            }
        }
        .site-desc {
            font-size: 0.8rem;
            display: inline-block;
            color: #{$c-color};
            &:after {
                content: "\f27b";
                font: var(--fa-font-regular);
                display: inline-block;
                top: -0.5rem;
                position: relative;
                width: 1rem;
                text-align: center;
            }
        }
    }
    .area-nav {
        margin: 3rem 0;
        .nav-title {
            margin: 3rem 0 1rem 0;
            font-weight: 700;
            &:before {
                content: "\f802";
                font: var(--fa-font-solid);
                width: 1.5rem;
                display: inline-block;
            }
        }
        ul.cat-list {
            margin: 1rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 2rem;
            li {
                
            }
        }
        ul.post-list {
            margin: 1rem;
            li {
                margin: 1rem 0;
            }
        }
    }
    .area-main {
        margin: 3rem 0;
        .page-title, .page-main, .page-desc, .page-ad, .page-reply {
            margin: 3rem 0;
        }
        .page-title {
            &:before {
                content: "\f10d";
                font: var(--fa-font-solid);
                position: relative;
                top: -0.5rem;
                width: 2.5rem;
                display: inline-block;
            }
            &:after {
                content: "\f10e";
                font: var(--fa-font-solid);
                position: relative;
                top: -0.5rem;
                width: 2.5rem;
                display: inline-block;
                text-align: right;
            }
        }
        .page-desc {
            margin-top: -3rem; 
        }
        .page-main {
            .page-updated {
                &:before {
                    content: "\f1da";
                    font: var(--fa-font-solid);
                    transform: scale(-1, 1);
                    display: inline-block;
                    width: 1rem;
                    text-align: right;
                }
            }
            .page-tags {
                &:before {
                    content: "\f02b";
                    font: var(--fa-font-solid);
                    display: inline-block;
                    width: 1rem;
                }
                span {
                    color: #{$layout-bg-color};
                    background-color: #{$c-color};
                }
            }
            h2 {
                font-size: 1.5rem;
                margin: 3rem 0 1.5rem 0;
                &:before {
                    content: "\0023";
                    font: var(--fa-font-solid);
                    display: inline-block;
                    width: 1.5rem;
                }
            }
            h3 {
                font-size: 1rem;
                margin: 1.5rem 0;
            }
            img {
                display: block;
                margin: 1.5rem auto;
                max-width: 100%;
                & ~ em {
                    display: block;
                    margin: -1rem 1.5rem 1.5rem 1.5rem;
                    color: var(--c-color);
                }
            }
            pre, code, kbd, samp {
                font-family: 'Hack', 'NanumSquareRound', monospace;
            }
            p, pre, ul {
                margin: 1.5rem 0;
                & > code, kbd, samp {
                    padding: 0 !important;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #{$c-color};
                    background-color: #{$body-bg-color};
                }
            }
            p[class], pre, ul {
                background-color: #{$body-bg-color};
                padding: 1rem 1.5rem;
                border-left-width: .5rem;
                border-left-style: solid;
                border-color: #{$c-color};
                &:before {
                    content: "\f121" attr(class);
                    font: var(--fa-font-solid);
                    display: block;
                    color: #{$c-color};
                    text-transform: uppercase;
                    font-weight: 800;
                    font-style: italic;
                    margin-bottom: 1rem;
                }
            }
            ul {
                li {
                    margin-left: 1.5rem;
                    &:before {
                        content: "\2219";
                        display: inline-block;
                        width: 1.5rem;
                        margin-left: -1.5rem;
                    }
                }
            }
        }
    }
    .area-footer {
        margin-bottom: 1.5rem;
        .site-footer {
            text-align: center;
        }
    }
}


/*

$top-height: 60px;
$max-width: 900px;
$color: #121212;
$bg-color: #ffffff;
$nav-bg-color: #f3f3f3;
$a-color: #005cc5;
$b-color: #d73a49;
$c-color: #666666;

* {
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}
html, body {
    font-family: 'Hack', 'NanumSquareRound', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #{$color};
    background-color: #{$bg-color};
}
svg {
    stroke: #{$color};
}
img, svg {
    vertical-align: bottom;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
a, a:link, a:visited, a:hover, a:active {
    color: #{$a-color};
    text-decoration: none;
    font-weight: 800;
    border-bottom: 1px dotted;
}
b, strong {
    color: #{$b-color};
    font-weight: 800;
    border-bottom: 1px dotted;
}
.grid {
    padding: .1px 5px;
    max-width: #{$max-width};
    margin: 0 auto;
}
.site-header-bg, .site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: #{$top-height};
}
.site-header-bg {
    z-index: 100;
    background-color: lighten($bg-color, 5%);
}
.site-header {
    z-index: 200;
    .grid {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .site-title {
            margin: 0;
            white-space: nowrap;
        }
        .menu-button {
            cursor: pointer;
            transition: transform .4s;
            &.clicked {
                transform: rotate(45deg);
            }
        }
    }
}

.nav-sub-title {
    font-style: italic;
}
.nav {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    right: 0;
    height: 0%;
    background-color: #{$nav-bg-color};
    overflow: scroll;
    transition: height .4s, opacity .4s;
    &.opened {
        height: 100%;
    }
    .nav-top-gutter {
        height: #{$top-height};
    }
    .nav-cats {
        display: flex;
        gap: 2.5rem;
    }
    .nav-posts {
        .posts-item {
            margin: 1rem 0;
        }
    }
}
.article {
    padding-top: #{$top-height};
}

.page-main {
    h1 {
        font-size: 2rem;
        margin: 1.5rem 0;
        line-height: 1.2;
        &:before {
            content: "≫";
            display: inline-block;
            width: 1.5rem;
        }
    }
    .page-meta {
        margin: -1.5rem 0 1.5rem 0;
        color: var(--c-color);
    }
    h2 {
        font-size: 1.5rem;
        margin: 3rem 0 1.5rem 0;
        &:before {
            content: "#";
            display: inline-block;
            width: 1.5rem;
        }
    }
    h3 {
        font-size: 1rem;
        margin: 1.5rem 0;
    }
    img {
        display: block;
        margin: 1.5rem auto;
        max-width: 100%;
        & ~ em {
            display: block;
            margin: -1rem 1.5rem 1.5rem 1.5rem;
            color: var(--c-color);
        }
    }
    pre, code, kbd, samp {
        font-family: 'Hack', 'NanumSquareRound', monospace;
    }
    p, pre, ul {
        margin: 1.5rem 0;
        & > code, kbd, samp {
            padding: 0 !important;
            font-size: 1rem;
            font-weight: 400;
            color: #{$c-color};
            background-color: #{$nav-bg-color};
        }
    }
    p[class], pre, ul {
        background-color: #{$nav-bg-color};
        padding: 1rem 1.5rem;
        border-left-width: .5rem;
        border-left-style: solid;
        border-color: #{$c-color};
        &:before {
            content: ':: ' attr(class);
            display: block;
            color: #{$c-color};
            text-transform: uppercase;
            font-weight: 800;
            font-style: italic;
            margin-bottom: 1rem;
        }
    }
    ul {
        li {
            margin-left: 1.5rem;
            &:before {
                content: "\2219";
                display: inline-block;
                width: 1.5rem;
                margin-left: -1.5rem;
            }
        }
    }
}
*/

/*
// Global
*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
html {
    --color: #2c3e50;
    --body-bg-color: #ffffff;
    --max-width: 1200px;
    --fixed-: 60px;
    --a-color: #2353a0;
    --b-color: #d73a49;
    --c-color: #6a737d;
    --box-bg-color: #f3f5f7;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Hack', 'NanumSquareRound', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color);
    background-color: var(--body-bg-color);
}
html, body, div, p, pre, ul, li, h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, aside, nav, main, footer, section, article {
    display: block;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
}
img, svg {
    vertical-align: bottom;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--a-color);
    border-bottom: 1px dotted;
    font-weight: 800;
}

// Layout
.hide {
    display: none;
}
.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .layout-fixed {
        flex: 0 0 var(--fixed-height);
        header {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .site-title {
                
            }
            .menu-btn {
                cursor: pointer;
            }
        }
    }
    .layout-fluid {
        flex: 1 0 0;
        overflow: scroll;
        nav {
            .cats-wrapper {
                margin: 2rem 0;
                .cats-item {
                    display: inline-block;
                    margin-right: 1.5rem;
                    color: var(--a-color);
                    border-bottom: 1px dotted;
                    font-weight: 800;
                    cursor: pointer;
                }
            }
            .posts-wrapper {
                margin: 2rem 0;
                .posts-item {
                    margin: .5rem 0;
                }
            }
        }
        main {
            
        }
        footer {

        }
    }
}

// Design
.content {
    h1 {
        font-size: 2rem;
        margin: 1.5rem 0;
        line-height: 1.2;
        &:before {
            content: "≫";
            display: inline-block;
            width: 1.5rem;
        }
    }
    .page-meta {
        margin: -1.5rem 0 1.5rem 0;
        color: var(--c-color);
    }
    h2 {
        font-size: 1.5rem;
        margin: 3rem 0 1.5rem 0;
        &:before {
            content: "#";
            display: inline-block;
            width: 1.5rem;
        }
    }
    h3 {
        font-size: 1rem;
        margin: 1.5rem 0;
    }
    img {
        display: block;
        margin: 1.5rem auto;
        max-width: 100%;
        & ~ em {
            display: block;
            margin: -1rem 1.5rem 1.5rem 1.5rem;
            color: var(--c-color);
        }
    }
    b, strong {
        color: var(--b-color);
        border-bottom: 1px dotted;
        font-weight: 800;
    }
    pre, code, kbd, samp {
        font-family: 'Hack', 'NanumSquareRound', monospace;
    }
    p, pre, ul {
        margin: 1.5rem 0;
        & > code, kbd, samp {
            padding: 0 !important;
            font-size: 1rem;
            font-weight: 400;
            color: var(--a-color);
            background-color: var(--box-bg-color);
        }
    }
    p[class], pre, ul {
        background-color: var(--box-bg-color);
        padding: .5rem 1.5rem;
        border-left-width: .5rem;
        border-left-style: solid;
        border-color: var(--a-color);
        &:before {
            content: ':' attr(class);
            display: block;
            color: var(--a-color);
            text-transform: uppercase;
            font-weight: 800;
            font-style: italic;
            margin: .5rem 0;
        }
    }
    ul {
        li {
            margin-left: 1.5rem;
            &:before {
                content: "+";
                display: inline-block;
                width: 1.5rem;
                margin-left: -1.5rem;
            }
        }
    }
}
       


@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css";
@import "https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css";

@mixin pad {
    padding-left: 15px;
    padding-right: 15px;
}

*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

html {
    --color: #000000;
    --light-color: #6a737d;
    --a-color: #005cc5;
    --b-color: #d73a49;
    --c-color: #6f42c1;
    --body-bg-color: #f3f4f6;
    --sidebar-bg-color: var(--body-bg-color);
    --sb-line-color: #cccccc;
    --sb-bg-color: transparent;
    --content-bg-color: transparent;
    --ct-bg-color: #fffafa;
    --box-bg-color: var(--body-bg-color);
    --box-line-color: var(--sb-line-color);
}
html[data-theme="night"] {
    --color: #ffffff;
}

html, body {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Hack', 'NanumSquareRound', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color);
    background-color: var(--body-bg-color);
    overflow: hidden;
}
html, body, div, p, pre, ul, li, h1, h2, h3, h4, h5, h6, header, aside, main, footer, section, article {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 800;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--a-color);
    border-bottom: 1px dotted;
    font-weight: 800;
}

.controls {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    button {
        cursor: pointer;
        svg {
            vertical-align: bottom;
        }
    }
    @media (min-width: 1220px) {
        display: none;
    }
}
.show {
    @media (max-width: 1219px) {
        left: 0 !important;
    }
}
.hidden {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100%;
    z-index: 99;
    overflow: hidden;
    background-color: var(--sidebar-bg-color);
    @media (min-width: 1220px) {
        left: 0;
        width: calc(320px + (100vw - 1220px) / 2);
    }
    .sb {
        height: 100%;
        width: 320px;
        overflow: hidden;
        float: right;
        display: flex;
        flex-direction: column;
        background-color: var(--sb-bg-color);
        aside {
            flex: 0 0 60px;
            @include pad;
        }
        nav {
            flex: 1 0 0;
            @include pad;
            overflow: scroll;
        }
        footer {
            flex: 0 0 60px;
            @include pad;
        }
    }
}
.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9;
    overflow: hidden;
    background-color: var(--content-bg-color);
    @media (min-width: 1220px) {
        left: calc(320px + (100vw - 1220px) / 2);
    }
    .ct {
        height: 100%;
        width: 100%;
        overflow: scroll;
        background-color: var(--ct-bg-color);
        @media (min-width: 1220px) {
            max-width: 900px;
        }
        header {
            margin: 1rem 0;
            @include pad;
        }
        main {
            margin: 1rem 0;
            @include pad;
            overflow: scroll;
        }
    }
}

.sidebar {
    .sb {
        border-right: 1px solid var(--sb-line-color);
        aside {
            border-bottom: 1px solid var(--sb-line-color);
            display: flex;
            justify-content: center;
            align-items: center;
            h2.site-title {
                font-size: 1.5rem;
            }
        }
        nav {
            .nav-tags {
                margin: 1.5rem 0 1.5rem 0;
                .nav-subs {
                    margin: 1rem 0 1rem 1rem;
                    .nav-sub-title {
                        cursor: pointer;
                    }
                    ul.nav-sub-items {
                        li.nav-sub-item {
                            margin: 0.5rem 0.5rem 0 1rem;
                            letter-spacing: -1rem;
                            &:before {
                                content: "+";
                                display: inline-block;
                                width: 1rem;
                                margin-left: -1rem;
                            }
                            a {
                                letter-spacing: 0;
                            }
                        }
                    }
                }
            }
        }
        footer {
            border-top: 1px solid var(--sb-line-color);
            display: flex;
            justify-content: center;
            align-items: center;
            .msg {
                text-align: center;
            }
        }
    }
}
.content {
    .ct {
        border-right: 1px solid var(--sb-line-color);
        header {
            h1 {
                font-size: 2rem;
                margin: 1.5rem 0;
                line-height: 1.2;
                &:before {
                    content: "≫";
                    display: inline-block;
                    width: 1.5rem;
                }
            }
            .page-meta {
                margin: -1.5rem 0 1.5rem 0;
                color: var(--light-color);
            }
        }
        main {
            line-height: 1.5rem;
            img {
                display: block;
                margin: 1.5rem auto;
                max-width: 100%;
                & ~ em {
                    display: block;
                    margin: -1rem 1.5rem 1.5rem 1.5rem;
                    color: var(--light-color);
                }
            }
            a, a:link, a:visited, a:hover, a:active {
                color: var(--a-color);
                border-bottom: 1px dotted;
                font-weight: 800;
            }
            b, strong {
                color: var(--b-color);
                border-bottom: 1px dotted;
                font-weight: 800;
            }
            pre, code, kbd, samp {
                font-family: 'Hack', 'NanumSquareRound', monospace;
            }
            p > code, kbd, samp {
                font-size: 1rem;
                font-weight: 400;
                color: var(--c-color);
                border: 1px solid var(--box-line-color);
                border-radius: 4px;
                padding: 0 0.2rem;
                background-color: var(--box-bg-color);
            }
            & > h2 {
                font-size: 1.5rem;
                margin: 3rem 0 1.5rem 0;
                &:before {
                    content: "#";
                    display: inline-block;
                    width: 1.5rem;
                }
            }
            & > h3 {
                font-size: 1rem;
                margin: 1.5rem 0;
            }
            & > div, & > p, & > pre, & > ul {
                margin: 1.5rem 0;
            }
            & > p[class], & > pre, & > ul {
                font-size: 0.9rem;
                line-height: 1.2;
                padding: 1rem;
                background-color: var(--box-bg-color);
                border-radius: 4px;
                border: 1px solid var(--box-line-color);
                position: relative;
                &:before {
                    content: attr(class);
                    display: block;
                    position: absolute;
                    top: -1.12rem;
                    font-weight: 800;
                    color: var(--c-color);
                    background-color: var(--box-bg-color);
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-left: 1px solid var(--box-line-color);
                    border-top: 1px solid var(--box-line-color);
                    border-right: 1px solid var(--box-line-color);
                    padding: 0 1rem;
                }
            }
            & > pre {        
                code {
                    font-size: 0.9rem;
                    line-height: 1.2;
                    display: block;
                    overflow: auto;
                    background-color: transparent;
                    padding: 0 !important;
                }
            }
            & > ul {
                li {
                    margin-left: 1.5rem;
                    &:before {
                        content: "+";
                        display: inline-block;
                        width: 1.5rem;
                        margin-left: -1.5rem;
                    }
                }
            }
        }
    }
}
*/
