---
---

$color: #111;
$a-color: #00f;
$b-color: #f00;
$c-color: #999;
$body-bg-color: #fff;
$area-bg-color: #eee;
$sb-width: 320px;
$ct-width: 880px;

// globals
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Hack", "NanumSquareRound", monospace;
    font-size: 16px;
    line-height: 1.4;
    color: #{$color};
    background-color: #{$body-bg-color};
}
code, kbd, samp {
    font-family: "Hack", "NanumSquareRound", monospace;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #{$a-color};
    font-weight: 800;
    word-break: break-all;
}
b, strong {
    color: #{$b-color};
    font-weight: 800;
    border-bottom: 1px dotted;
}
h1, h2, h3, h4, h5, h6, div, p, pre, ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
img, svg {
    vertical-align: bottom;
}

// common classes
.hidden {
    display: none;
}
.updated, .tags {
    font-size: 0.8rem;
    color: #{$c-color};
    display: inline-block;
}
.updated {
    &:before {
        content: "\f1da";
        font: var(--fa-font-solid);
        transform: scale(-1, 1);
        display: inline-block;
        width: 1rem;
        text-align: right;
    }
}
.tags {
    &:before {
        content: "\f02b";
        font: var(--fa-font-solid);
        display: inline-block;
        width: 1rem;
    }
    span {
        color: #{$area-bg-color};
        background-color: #{$c-color};
    }
}
.inline {
    display: inline-block;
}

// page-main
.area-content {
    border-top: 1px solid #{$body-bg-color};
    .page-title, .page-main, .page-desc, .page-ad, .page-reply {
        margin: 3rem 0;
    }
    .page-title {
        &:before {
            content: "\f10d";
            font: var(--fa-font-solid);
            position: relative;
            top: -0.5rem;
            width: 2.5rem;
            display: inline-block;
        }
        &:after {
            content: "\f10e";
            font: var(--fa-font-solid);
            position: relative;
            top: -0.5rem;
            width: 2.5rem;
            display: inline-block;
            text-align: right;
        }
    }
    .page-desc {
        margin-top: -3rem; 
    }
    .page-main {
        .page-updated {
            &:before {
                content: "\f1da";
                font: var(--fa-font-solid);
                transform: scale(-1, 1);
                display: inline-block;
                width: 1rem;
                text-align: right;
            }
        }
        .page-tags {
            &:before {
                content: "\f02b";
                font: var(--fa-font-solid);
                display: inline-block;
                width: 1rem;
            }
            span {
                color: #{$area-bg-color};
                background-color: #{$c-color};
            }
        }
        h2 {
            font-size: 1.5rem;
            margin: 3rem 0 1.5rem 0;
            &:before {
                content: "\0023";
                font: var(--fa-font-solid);
                display: inline-block;
                width: 2rem;
            }
        }
        h3 {
            font-size: 1rem;
            margin: 1.5rem 0;
        }
        img {
            display: block;
            margin: 1.5rem auto;
            max-width: 100%;
            & ~ em {
                display: block;
                margin: -1rem 1.5rem 1.5rem 1.5rem;
                color: var(--c-color);
            }
        }
        pre, code, kbd, samp {
            font-family: 'Hack', 'NanumSquareRound', monospace;
        }
        p, pre, ul {
            margin: 1.5rem 0;
            & > code, kbd, samp {
                padding: 0 !important;
                font-weight: 400;
                color: #{$color};
                background-color: #{$body-bg-color};
            }
        }
        pre > code {
            font-size: 0.8rem;
        }
        p[class], pre, ul {
            background-color: #{$body-bg-color};
            padding: 1rem 1.5rem;
            border-left-width: .5rem;
            border-left-style: solid;
            border-color: #{$c-color};
            &:before {
                content: "\f120\00a0" attr(class);
                font: var(--fa-font-solid);
                font-family: 'NanumSquareRound', 'FontAwesome';
                display: block;
                color: #{$c-color};
                text-transform: uppercase;
                font-weight: 800;
                font-style: italic;
                margin-bottom: 1rem;
            }
        }
        ul {
            li {
                margin-left: 1.5rem;
                &:before {
                    content: "\2219";
                    display: inline-block;
                    width: 1.5rem;
                    margin-left: -1.5rem;
                }
            }
        }
    }
}

// layout
.area-sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    transition: left 0.4s;
    background-color: #{$area-bg-color};
    .area-sb {
        width: #{$sb-width};
        height: 100%;
        display: flex;
        flex-direction: column;
        .site-header {
            flex: 0 0 60px;
        }
        .nav {
            flex: 1 0 0;
            overflow-y: scroll;
        }
        .site-footer {
            flex: 0 0 60px;
        }
    }
}
@media (max-width: #{$sb-width + $ct-width - 1px}) {
    .btn {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .area-sidebar {
        left: -#{$sb-width};
        &.opened {
            left: 0;
        }
    }
}
@media (min-width: #{$sb-width + $ct-width}) {
    .btn {
        display: none;
    }
    .area-sidebar {
        left: 0;
        width: calc(50vw - #{$sb-width/2 + $ct-width/2} + #{$sb-width});
        display: flex;
        flex-direction: row-reverse;
    }
    .area-content {
        margin-left: calc(50vw - #{$sb-width/2 + $ct-width/2} + #{$sb-width});
        .area-ct {
            max-width: #{$ct-width};
        }
    }
}