---
layout: default
---

<div class="layout-header">
    <div class="layout-content">
        <div class="layout-content-buffer">
            <div class="header">
                <h1 class="site-title">
                    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
                </h1>
                <button class="btn">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="layout-main">
    <div class="layout-content">
        <div class="layout-content-buffer">
            <div class="main">
                <h1 class="page-title">
                    {{ page.title }}
                </h1>
                <div class="page-desc">
                    <div class="page-updated">Last updated:&nbsp;{{ page.updated }}</div>
                    <div class="page-tags">Tags:&nbsp;{%- for tag in page.tags -%}<span>#{{ tag }}</span>{% if forloop.last == false %}, {% endif %}{% endfor %}</div>
                </div>
                <div class="page-main">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layout-footer">
    <div class="layout-content">
        <div class="layout-content-buffer">
            <div class="footer">
                <div class="footer-msg">
                    {{ site.desc }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    'use strict';

    var btn = document.querySelector('.btn');
    btn.addEventListener('click', e => {
        btn.toggle('clicked');
    });
</script>