---
layout: default
---

<div class="fixed-canvas">
    <div class="layout-outer">
        <div class="layout-inner-top">
            <div class="buffer">
                <div class="header">
                    <h2 class="site-title">
                        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
                    </h2>
                    <button class="btn">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layout-inner-main">
            <div class="section1">
                <div class="buffer">
                    SECTION 1
                </div>
            </div>
            <div class="section2">
                <div class="buffer">
                    section 2
                </div>
            </div>
        </div>
        <div class="layout-inner-bottom">
            <div class="buffer">
                <div class="footer">
                    <div class="footer-msg">
                        {{ site.desc }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    'use strict';

    var btn = document.querySelector('.btn');
    var section1 = document.querySelector('.section1');
    var section2 = document.querySelector('.section2');
    btn.addEventListener('click', e => {
        btn.classList.toggle('btn-clicked');
        section1.classList.toggle('btn-clicked');
        section2.classList.toggle('btn-clicked');
    });    
</script>


<!-- <div class="layout-outer">
    <div class="layout-inner-top">
        <div class="buffer">
            <div class="header">
                <h1 class="site-title">
                    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
                </h1>
                <button class="btn">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="layout-inner-main">
        <div class="buffer">
            <div class="nav">
                NAV LOADING...
            </div>

            <div class="content">
                <div class="article">
                    <h1 class="page-title">
                        {{ page.title }}
                    </h1>
                    <div class="page-desc">
                        <div class="updated">Last updated:&nbsp;{{ page.updated }}</div>
                        <div class="tags">Tags:&nbsp;{%- for tag in page.tags -%}<span>#{{ tag }}</span>{% if forloop.last == false %}, {% endif %}{% endfor %}</div>
                    </div>
                    <div class="page-main">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-inner-bottom">
        <div class="buffer">
            <div class="footer">
                <div class="footer-msg">
                    {{ site.desc }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var target = "{{ '/assets/nav.html' | relative_url  }}";
    fetch(target).then(function(response) {
        return response.text();
    }).then(function(body) {
        document.querySelector('.nav').innerHTML = body;
        return;
    }).then(function() {
        var cats = document.querySelectorAll('.nav .category ul li');
        var posts = document.querySelectorAll('.nav .post ul li');
        var cur = document.location.href.match(/(https?:\/\/[a-zA-Z0-9.:]+)([a-zA-Z0-9\/%_.-]+)/);

        for (var el of cats) {
            el.addEventListener('click', function(e) {
                for (var x of cats) {
                    if (x === e.target) {
                        x.classList.add('current');
                    } else {
                        x.classList.remove('current');
                    }
                }
                for (var y of document.querySelectorAll('.nav .post ul')) {
                    if (y.getAttribute('cat') === e.target.getAttribute('cat')) {
                        y.classList.remove('hidden');

                        var c = y.querySelector('li.current');
                        if (c) {
                            y.scrollTo(0, c.offsetTop - y.offsetHeight/2 - c.offsetHeight*2);
                        }
                    } else {
                        y.classList.add('hidden');
                    }
                }
                
            });
        }

        if (cur) {
            var find = false;
            var t = '';
            for (var el of posts) {
                var href = el.firstElementChild.getAttribute('href');
                if (href === cur[2]) {
                    el.classList.add('current');
                    find = true;
                    t = el.parentElement.getAttribute('cat');
                    break;
                }
            }
            if (find) {
                document.querySelector(`.nav .category ul li[cat=${t}]`).dispatchEvent(new Event('click', {bubbles: true}));
            }  else {
                document.querySelectorAll('.nav .category ul li')[0].dispatchEvent(new Event('click', {bubbles: true}));
            }
        }
    });
</script>
<script>
    'use strict';

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    var btn = document.querySelector('.btn');
    var nav = document.querySelector('.nav');
    var content = document.querySelector('.content');
    btn.addEventListener('click', e => {
        btn.classList.toggle('btn-clicked');
        nav.classList.toggle('btn-clicked');
        content.classList.toggle('btn-clicked');
    });    
</script> -->
