---
layout: default
---

<div class="layout-header">
    <div class="layout-content">
        <div class="layout-content-buffer">
            <div class="header">
                <h1 class="site-title">
                    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
                </h1>
                <div class="btn">
                    <button>X</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layout-main">
    <div class="layout-content">
        <div class="layout-content-buffer">
            <div class="main">

            </div>
        </div>
    </div>
</div>
<div class="layout-footer">
    <div class="layout-content">
        <div class="layout-content-buffer">
            <div class="footer">

            </div>
        </div>
    </div>
</div>